# Hugo default folders
/public
/resources
/_vendor
.hugo_build.lock

# Local Hugo binary
/bin/hugo_extended_*
/bin/hugo

# OS files
.DS_Store
Thumbs.db

# R Shiny App sources (ignored to keep repository small)
/shiny_apps/
