{{- if not .IsHome }}
<div class="floating-socials">
    <!-- Row 1: Science & Work -->
    {{- if site.Params.socialIconsWork }}
    <div class="social-icons work-icons">
        {{- range site.Params.socialIconsWork }}
        <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
            title="{{ (.title | default .name) | title }}">
            {{ partial "svg.html" . }}
        </a>
        {{- end }}
    </div>
    {{- end }}

    <!-- Row 2: Social Media -->
    {{- if site.Params.socialIconsSocial }}
    <div class="social-icons social-icons-row">
        {{- range site.Params.socialIconsSocial }}
        <a href="{{ trim .url " " | safeURL }}" target="_blank" rel="noopener noreferrer me"
            title="{{ (.title | default .name) | title }}">
            {{ partial "svg.html" . }}
        </a>
        {{- end }}
    </div>
    {{- end }}
</div>
{{- end }}
